body{
    background-color: lightblue;
    text-align: center;
}

#schip1{
    border-style: solid;
    border-color: black;
    margin : 10px;
    position: relative; 
    float: left;
}

#schip2{
    border-style: solid;
    border-color: black;
    margin: 10px;
    position: relative;
    float: right;
    top:50%;
}

#schip3{
    border-style: solid;
    border-color: black;
    margin: 10px;
    position: relative;
    float: left;
}

p{
    margin: 5px;
    font-size: large;
    padding:5px;
    text-align: justify;
    position:relative;
}